/* CarouselKits.css */

/* Contenedor del carrusel */
.carousel-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Estilo de los elementos dentro del carrusel */
  .carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  /* Estilo de las imágenes del carrusel */
  .carousel-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  /* Efecto al pasar el mouse sobre las imágenes */
  .carousel-item:hover .carousel-image {
    transform: scale(1.05);
  }
  
  /* Ajustes para pantallas pequeñas */
 /* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .carousel-container {
      padding: 10px;
      width: 100%; /* Asegura que el carrusel ocupe todo el ancho disponible */
    }
  
    .carousel-item {
      padding: 5px;
      display: flex;
      justify-content: center;
    }
  
    .carousel-image {
      width: 10%; /* Las imágenes ocuparán el 100% del ancho del carrusel */
      height: auto; /* Mantiene la relación de aspecto */
      border-radius: 5px;
      object-fit: cover; /* Asegura que las imágenes se recorten para llenar el espacio */
    }
  }
  