@import 'reset.css';

/* Ajusta la imagen para que ocupe el 100% del ancho del contenedor */
.catalogo-image {
    width: 100%;
    height: auto;
}

/* Estilos personalizados para los botones grandes */
.btn-large {
    position: relative;
    top: -96px;
    padding: 0.8rem 1.5rem;
    font-size: 4rem;
    margin-left: -65vh;
    word-wrap: break-word;    /* Rompe palabras largas si es necesario */
    white-space: normal;      /* Permite que el texto se ajuste en múltiples líneas */

}

/* Estilos responsivos para pantallas de hasta 768px */
@media (max-width: 768px) {
    /* Asegurar que las columnas se apilen en dispositivos pequeños */
    .row {
        flex-direction: column;
        align-items: center;
        margin-left: 0vh;
    }

    .catalogo-container {
        position: relative;
        overflow: hidden; /* Evita que el contenido se salga */
        margin-left: 10vh;
      }

    .catalogo-image {
        max-width: 32%;
        margin-bottom: 0rem;
        margin-left: -163vh;
    }

    .btn-large {
        top: -6px;
        padding: 0.8rem 0.5rem;
        font-size: 1.8rem;
        margin-left: -60vh;
        word-wrap: break-word;    /* Rompe palabras largas si es necesario */
        white-space: normal;      /* Permite que el texto se ajuste en múltiples líneas */
        z-index: 2;



    }


      
}
