@import 'reset.css';

/* Ajusta la imagen para que ocupe el 100% del ancho del contenedor */
.catalogo-image {
    width: 100%;
    height: auto;
}

/* Estilos personalizados para los botones grandes */
.btn-large {
    position: relative;
    top: -96px;
    padding: 0.8rem 1.5rem;
    font-size: 4rem;
    margin-left: -65vh;
    word-wrap: break-word;    /* Rompe palabras largas si es necesario */
    white-space: normal;      /* Permite que el texto se ajuste en múltiples líneas */

}

/* Estilos responsivos para pantallas de hasta 768px */
@media (max-width: 768px) {
    /* Asegurar que las columnas se apilen en dispositivos pequeños */
    .row {
        flex-direction: column;
        align-items: center;
        margin-left: 0vh;
    }

   

    .catalogo-image {
        position: relative;
        max-width: 32%;
        margin-bottom: 0rem;
        margin-left: -146vh;
    }

    .btn-large {
        position: relative;
        top: -30vh;
        background-color: #00bcd4;  /* Un tono de azul/verde más moderno */
        color: #fff;                /* Texto en blanco para buen contraste */
        padding: 1rem 1.5rem;       /* Más espacio interno para mayor legibilidad */
        font-size: 1.8rem;
        left: 10vh;
        
        border: none;
        border-radius: 5px;         /* Bordes suavizados */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Sombra sutil */
        
        word-wrap: break-word;      /* Rompe palabras largas si es necesario */
        white-space: normal;        /* Permite ajuste de líneas */
        
        z-index: 2;
        cursor: pointer;
        
        transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    }
    
    .btn-large:hover {
        background-color: #0097a7;  /* Oscurece un poco al pasar el cursor */
        transform: translateY(-2px);  /* Efecto de "elevación" */
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    }
    
    .btn-large:active {
        transform: translateY(0); /* Regresa a su posición original al hacer clic */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    

      
}
