/* Archivo: reset.css */

/* Reseteo general y estilos base */
body, html {
    overflow-x: hidden; /* Previene desbordamiento horizontal */
    max-width: 100vw;   /* Asegura que el ancho máximo sea el ancho de la ventana */
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho y alto del elemento */
  }
  
  /* Aquí puedes añadir más estilos de reseteo si lo deseas */
  