@import 'reset.css';

/* Estilo base para el botón */
.button-visit {
  font-size: 26px;
  padding: 2px 6px;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
}

/* Efecto al pasar el ratón sobre el botón */
.button-visit:hover {
  background-color: #0056b3;
}

.overlay .modal .closeButton {
  position: absolute;
  bottom: 10px; /* Alineado 10px desde la parte inferior */
  left: 10px;   /* Alineado 10px desde la parte izquierda */
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #333;
  transition: transform 0.2s, color 0.2s;

}

.overlay .modal .closeButton:hover {
  color: #ff0000;
  transform: scale(1.2);
}



.modal {
  background-color: #ffffff !important;
}







/* Media Query para pantallas más pequeñas (móviles) */
@media (max-width: 768px) {
  .button-visit {
  font-size: 26px;
  padding: 2px 6px;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
  }
/* Efecto al pasar el ratón sobre el botón */
.button-visit:hover {
  background-color: #0056b3;
}

}

