/* Estilos generales para el contenido */
.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px 20px;
  }
  
  .contenido h4 {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  
  
  /* Media Query para pantallas más pequeñas (hasta 768px) */
  @media (max-width: 768px) {
    .contenido {
      padding: 20px 10px; /* Reducir padding en pantallas pequeñas */
    }
  
    .contenido h4 {
        font-size: 36px;
        font-weight: bold;
        color: #ffffff;
        margin-bottom: 20px;
      }
  
   
  }
  