.beneficios-container {
    text-align: center;
    padding: 0px;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .beneficios-titulo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .beneficios-lista {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .beneficio-item {
    display: flex;
    align-items: flex-start;
    text-align: left;
    gap: 15px;
  }
  
  .beneficio-icono {
    font-size: 1.5rem;
    color: green;
    margin-top: 5px;
  }
  
  .beneficio-contenido h4 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1px;
  }
  
  .beneficio-contenido p {
    font-size: 1rem;
    color: hsl(0, 22%, 73%);
    margin: 0;
  }